.selected{
    border: 1px solid #552B48 !important;
    box-shadow: 0 0 0 0 !important;
}

.title{
    font-size: 20px !important;
    width: 100%;
    font-weight: 600;
    color: #361116c9 !important;
    height:  40px;
}

.header{
    color:#764258;
}

.text{
    height: 40px;
    color:#764258;
    font: 14px serif;
}
.statusDate{
    color:#7e5e6c;
    font: 14px serif;
    text-transform: capitalize;
}

.iconColor{
    color:#CBB9B5;
}

.btn{
    margin-right: 5px;
    border:none !important;
    outline: 0 none !important;
    background-color:#764258 !important;
}
.btnColorHover:hover{
    background-color: #af6b7ad0 !important;
}
.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }

.card{
    height: 100%;
    background-attachment: fixed;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.144)!important;
    color: rgba(61, 36, 36);
    box-shadow:6px 4px 4px 3px rgba(98, 69, 72, 0.479);
    transition: transform .2s linear;
    user-select: none;
}

.card:hover{
    transform: scale(1.07);
}

.check{
    color: rgba(61, 36, 36, 0.65);
}

.link{
    text-decoration: none !important;
    width: 100%;
    
}


