.selected{
    border: 1px solid #552B48 !important;
    box-shadow: 0 0 0 0 !important;
}

.title{
    color: #7E3D4A;
    font: 16px sans-serif;
}
.text{
    color:#764258;
    font: 12px sans-serif;
}
.iconColor{
    color:#CBB9B5;
}

.btnColor{
    margin-right: 5px;
    border:none !important;
    outline: 0 none !important;
    background-color:#764258 !important;
}
.btnColorHover:hover{
    background-color: #af6b7ad0 !important;
}
.btnColor:focus, .btnColor:active {
    box-shadow: none !important;
    outline:  0  !important;
  }

.card{
    background-color: rgba(255, 255, 255, 0.144)!important;
    color: rgba(61, 36, 36);
    box-shadow:6px 4px 4px 3px rgba(98, 69, 72, 0.479);
    transition: transform .2s linear;
    user-select: none;
}

.card:hover{
    transform: scale(1.07);
}

.check{
    color: rgba(61, 36, 36, 0.65);
}

