.modal .modal-content{
    background-clip:rgba(0,0,0,.7) !important;
}
.modalTitle{
    font: 30px bold sans-serif;
    color:#764258;
}

.btn {
    width: 80px;
    height: 36px;
    margin:20px;
    border:none !important;
    outline: 0 none !important;
    background:  #70323cea  !important;
    color: #E2C9C3 !important;
    box-shadow: 4px 3px 3px 0 rgba(98, 69, 72, 0.623);
}
.btnHover:hover {
    background:#af6b7a93 !important;
    color: #88466a !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }