.form{
    background-image: linear-gradient(to left, #70323c52, #E2C9C3 );;
    margin-top: 40px;
    border: 1px solid #70323c78;
    border-radius: 6px;
    box-shadow: 10px 18px 18px 0px rgba(98, 69, 72, 0.479);
    padding: 20px 50px;
    margin-bottom: 80px;
}

.title{
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
    color: #70323cc9;
    text-shadow: -3px -3px 2px  #44253546;
}

.text{
    text-align: center;
    font-size: 14px;
    color: #be3653fa;
    margin-bottom: 40px;
}
.modalText{
    text-align: center;
    font-size: 25px;
    color: #be3653fa;
    margin-bottom: 40px;
}
.modalBtn {
    width: 60px;
    height: 36px;
    border:none !important;
    outline: 0 none !important;
    background:  #70323cea  !important;
    color: #E2C9C3 !important;
    box-shadow: 4px 3px 3px 0 rgba(98, 69, 72, 0.623);
}

.btn:hover,.modalBtn:hover {
    background:#af6b7ad0 !important;
    color: #412735 !important;
}

.btn:focus, .btn:active, .modalBtn:hover, .modalBtn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }

.label{
    color: #2e1a1dc9;
    font: 20px bold;
}

.btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 140px;
    height: 36px;
    margin:20px;
    border:none !important;
    outline: 0 none !important;
    background:  #70323cea  !important;
    color: #E2C9C3 !important;
    box-shadow: 4px 3px 3px 0 rgba(98, 69, 72, 0.623);
}
.btn:hover {
    background:#af6b7ad0 !important;
    color: #412735 !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }

  .invalid, .invalid:focus{
    border: 1px solid rgb(233, 77, 77) !important;
}

.input{
    border: 1px solid #5f384e6b !important;
    background-color: inherit !important;
    outline: none !important;
    overflow: hidden !important ;
}


.input:focus, .input:active {
    box-shadow: none !important;
    outline:  0  !important;
    border: 2px solid #7c485493 !important;
  }

  @media  screen and (min-width: 400px) and (max-width: 600px) {
    .text{
        font-size: 8px;
        margin-bottom: 30px;
    }
    .title{
        margin-top: 60px;
        font-size: 20px;
    }
    .label{
        font: 14px bold;
    }
    .btn {
        width: 100px;
        height: 36px;
        margin:18px;
      
    }
  }
  
  @media  screen and (min-width: 600px) and (max-width: 767px){
    .label{
        font: 16px bold;
    }
    .text{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .title{
        font-size: 22px;
        margin-top: 70px;
    }
  }
  
  @media  screen and (min-width: 768px) and (max-width: 991px){
    .label{
        font: 18px bold;
    }
    .text{
        font-size: 10px;
        margin-bottom: 40px;
    }
    .title{
        font-size: 24px;
        margin-top: 80px;
    }
  } 
  