  
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    user-select: none;
}

h1{
    font-size: 60px !important;
    color: #b36c79c9 ;
    text-shadow: -5px -5px 2px  #44253546;
}

.buttons{
    margin:180px 0 60px 80px;
}

.btn {
    width: 120px;
    border:none !important;
    outline: 0 none !important;
    background: #7E3D4A !important;
    color: #E2C9C3 !important;
    font: 1em  bolder sans-serif;
    box-shadow: 4px 3px 4px 0 rgba(68, 54, 55, 0.657);
}

.btnHover:hover {
    background: #af6b7a7a !important;
    color: #88466a !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }


.linkToTop{
    color: #965f6b;
    position: fixed;
    z-index: 1000;
    top: 90%;
    left:86%;
    font: 30px serif;
    font-style: italic;
    font-weight: 700;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(62, 161, 161),
    0 0 80px rgb(33, 114, 114),
    0 0 90px rgb(41, 107, 107),
    0 0 100px rgba(0, 255, 255, 0.555),
    0 0 150px #0ff;
    
   
}

.linkToTop:hover{
    text-decoration: none;
    color: rgba(68, 54, 55, 0.657)
}