  
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    user-select: none;
}

h1{
    font-size: 60px !important;
    color: #b36c79c9 ;
    text-shadow: -5px -5px 2px  #44253546;
}

.buttons{
    margin-top: 80px;
}

.btn {
    width: 120px;
    margin:70px 20px;
    border:none !important;
    outline: 0 none !important;
    background: #7E3D4A !important;
    color: #E2C9C3 !important;
    font: 1em  bolder sans-serif;
    box-shadow: 4px 3px 3px 0 rgba(98, 69, 72, 0.479);
}

.btnHover:hover {
    background: #af6b7a7a !important;
    color: #88466a !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }
/* .btn:last-child{
    background: rgba(19, 12, 12, 0.479) !important;
}
.btn:nth-child(3){
    background: rgba(92, 51, 57, 0.479) !important;
}
.btn:nth-child(2){
    background: rgba(170, 93, 103, 0.479) !important;
} */