  
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

h1{
    color:rgba(46, 33, 33, 0.6);
    text-shadow: 3px 3px rgba(98, 69, 72, 0.479);
}

.btn {
    width: 120px;
    margin:20px 20px;
    border:none !important;
    outline: 0 none !important;
    background: rgba(92, 55, 55, 0.664) !important;
    box-shadow: 4px 3px 3px 0 rgba(98, 69, 72, 0.479);
}
.btnHover:hover {
    background: rgba(155, 127, 127, 0.459)!important;
    color: rgb(92, 55, 55) !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
    outline:  0  !important;
  }
/* .btn:last-child{
    background: rgba(19, 12, 12, 0.479) !important;
}
.btn:nth-child(3){
    background: rgba(92, 51, 57, 0.479) !important;
}
.btn:nth-child(2){
    background: rgba(170, 93, 103, 0.479) !important;
} */