.about{
   margin: 100px 20px 40px 20px;
}

.text{
    font-size: 30px !important;
    color: #b36c79c9;
}

.link{
    text-decoration: none !important;
    font-size: 26px;
    font-family: serif;
    color: #aa7792;
}

.link:hover{
    color:#ec214dd0;
}

.img{
    margin-top: 20px;
    width: auto;
    height: 300px;
}

@media  screen and (max-width: 462px) {

    .about{
        margin: 100px 20px 0 10px;
     }
    .text{
        font-size: 16px !important;
    }
    .link{
        font-size: 14px;
    }
    .img{
        width: 50px;
        height: 40px;
    }
    
  }
  
@media screen and (min-width: 462px) and (max-width: 600px){
    .about{
        margin: 110px 12px 0 12px;
     }
    .text{
        font-size: 18px !important;
    }
    .link{
        font-size: 16px;
    }
    .img{
        width: 100px;
        height: 80px;
    }
  }
  
  @media  screen and (min-width: 600px) and (max-width: 769px){
    .about{
        margin: 130px 16px 0px 16px;
     }
    .text{
        font-size: 22px !important;
    }
    .link{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .img{
        width: 300px;
        height: 150px;
    }
  }
  