.footer{
    background-attachment: fixed;
    background-size: cover;
    background-color: #b496b3;
    background-image: linear-gradient(to bottom left, #968d8dca, #d3becefd, #bdd8d698, #7c415378);
    border-top: 1px solid #44253546;
    height: 50px;
    width: 100%;
    position: fixed !important;
    z-index: 100;  
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-direction: row; 
    bottom:0;
    left:0;
}

.text{
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.text>p{
    font-size: 20px;
    color: #70323c;
    margin-top: 10px;
    margin-right: 10px;
}
.arrow{
    font-size: 12px;
    color: #70323cc9;
    margin-left: 10px;
}

.socialSites >a{
    font-size: 20px;
    margin-right: 20px;
    color: #70323cef;
    transition: transform 0.5s ease;
}

.socialSites > a:hover{
    color: #c54d61c9;
}

.linkToTop{
    margin-left: 800px;
    color: #6d3e48;
    font: 24px serif;
    font-style: italic;
    font-weight: 700;
    text-shadow: 
    0 0 5px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgba(62, 161, 161, 0.513),
    0 0 8px rgba(33, 114, 114, 0.596),
    0 0 9px rgba(41, 107, 107, 0.411),
    0 0 10px rgba(0, 255, 255, 0.349),
    0 0 15px rgba(0, 255, 255, 0.342);
}

.linkToTop:hover{
    text-decoration: none;
    color: #c54d61c9;
}


@media  screen and (max-width: 462px) {
    .text{
        margin-left: 60px;
    }    
    .text>p{
        font-size: 14px;
        margin-top: 6px;
        margin-right: 6px;
    }
    
  }
@media screen and (min-width: 462px) and (max-width: 600px){
    .text{
        margin-left: 70px;
    }
    .text>p{
        font-size: 16px;
        margin-top: 8px;
        margin-right: 8px;
    }
    
  }
  
  @media  screen and (min-width: 600px) and (max-width: 769px){
    .text{
        margin-left: 80px;
    }
    .text>p{
        font-size: 15px;
        margin-top: 7px;
        margin-right: 7px;
    }
    
  }
  
  @media  screen and (min-width: 768px) and (max-width: 993px){
    .text{
        margin-left: 90px;
    }
    .text>p{
        font-size: 16px;
        margin-top: 8px;
        margin-right: 8px;
    }
    
  } 
  
  @media  screen and (min-width: 992px) and (max-width: 1200px) {
    .text{
        margin-left: 96px;
    }
    
  } 