  .inputGroup{
      margin-right: 40px;
  }
.dropDownBtn{
    padding: 0;
    border: 1px solid #af6b7a7a !important;
    border-radius: 3px;
    outline: 0 none !important;
    background:  #a97d8977 !important;
    color: #ffffffbb !important;
}


.dropDownBtn:hover {
    background:#dda1ae7a !important;
    color: #88466a !important;
}

.dropDownBtn:active, .dropDownBtn:hover{
    box-shadow: none !important;
    outline:  none !important;
  }

  .btn{
    padding: 0;
    border: 1px solid #af6b7a7a !important;
    border-radius: 3px;
    outline: 0 none !important;
    background:  #a97d8977 !important;
    color: #ffffffbb !important;
}

.btn:hover {
  background:#dda1ae7a !important;
  color: #88466a !important;
}

.btn:active,.btn:hover{
  box-shadow: none !important;
  outline:  0 none !important;
}

.datepicker{
    display: flex;
    align-items:center ;
    border: 1px solid rgba(61, 36, 36, 0.192) ;
    width: 120px;
    color: #8f5a77;
    user-select: none;
    margin-bottom: 10px;
    padding: 6px;
  }

  .datepickerDropdown{ 
      display: flex;
      color: #af6b7ac0;
      width: 300px;
      justify-content: center;
  }

  .textDropdown{
      width: 160px;


  }

  .searchInput{
    border: 1px solid #c0909bed !important;
    outline: none !important;
    background-color: inherit !important;
  }