  .form{
    margin: 20px;
    margin-bottom: 40px;
    outline: 0 none !important;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: fixed !important;
    z-index: 1000;
    background-size: cover;
    background-attachment: fixed;
    background: #FAF5FC;

  }
  
  .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: row;
    }

.dropDownBtn{
    width:100%;
    border: 1px solid #af6b7a7a !important;
    outline: 0 none !important;
    background:  #cc859877 !important;
    color: #ffffffbb !important;
}

.dropDownBtn:hover {
    background:#dda1ae7a !important;
    color: #88466a !important;
    box-shadow: none !important;
    outline:  none !important;
}

.dropDownBtn:active{
    box-shadow: none !important;
    outline:  none !important;
}

.BtnforSearch{
    border: 1px solid #af6b7a7a !important;
    outline: 0 none !important;
    background:#9c6f7b77 !important;
    color: #ffffffbb !important;
}

.BtnforSearch:hover{
  background:#dda1ae7a !important;
  color: #88466a !important;
  box-shadow: none !important;
  outline:  none !important;
}

.btn{
    padding: 6px 16px;
    border: 1px solid #af6b7a7a !important;
    outline: 0 none !important;
    background:  #a97d8977 !important;
    color: #ffffffbb !important;
}

.btn:hover {
  background:#dda1ae7a !important;
  color: #88466a !important;
}

.btn:active,.btn:hover{
  box-shadow: none !important;
  outline:  0 none !important;
}

.datepicker{
    width: 120px;
    color: #8f5a77;
    user-select: none;
    margin-bottom: 10px;
    padding: 6px;
  }

  .datepickerDropdown{ 
      display: flex;
      color: #af6b7ac0;
      width: 300px;
      justify-content: center;
  }

  .textDropdown{
      width: 160px;
  }

  .searchInput{
    width: 300px;
    border: 1px solid #c2b2b5ed !important;
    outline: none !important;
    background-color: inherit !important;
  }

  
  @media  screen and (max-width: 462px) {
    .form{
      margin: 18px;
      margin-bottom:32px;
      left: 10%;

    }
    .searchInput{
      width: 100px;
    }
    
  }
@media screen and (min-width: 462px) and (max-width: 600px){
  .form{
    margin-bottom:36px;
    left: 15%;
  }
    .searchInput{
      width: 120px;
    }
  }
  
  @media  screen and (min-width: 600px) and (max-width: 769px){
    .form{
      margin-bottom:36px;
      margin-left: -20px;
    }
      .searchInput{
        width: 160px;
      }
  }
  
  @media  screen and (min-width: 768px) and (max-width: 993px){

      .searchInput{
        width: 180px;
      }
  } 
  
  @media  screen and (min-width: 992px) and (max-width: 1200px) {
    
      .searchInput{
        width: 280px;
      }
  } 