*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

body{
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fffbfe3a;
    background-image: linear-gradient(180deg, #f8f2f21c, #f4eafce1, #aec5c398, #7c415378);
}